div.test{
    display: none;
   
}

span{
    cursor: pointer;
    text-decoration: underline;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ div.test{
    display: block;
}
p{
    display: inline;
}
