*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body, .container{
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
}
aside{
    width: 0;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: width .2s;
}
a{
    text-decoration: none;
    color: white;
}
main{
    width: 100%;
    height: 100%;
    background-color: tomato;
    transition: width .2s;
}
.container > i, label{
    position: absolute;
    color: white;
    font-size: 40px;
    padding: 20px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ aside{
    width: 20%;
}
input[type="checkbox"]:checked ~ main{
    width: 80%;
}