span{
    padding: 10px;
}

.card{
    background-color: #efefef;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

button {
    width: 100%;
    background-color: greenyellow;
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}