*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myfont;
}
@font-face {
    font-family: myfont;
    src: url(../Vazirmatn-Light.woff2);
}
header div{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: darkblue;
    color: white;
    text-align: center;
    transition: transform 1s ease-in-out;
}
header{
    position: relative;
}
input[type="checkbox"]{
    display: none;
}
i{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
}
input[type="checkbox"]:checked ~ div{
    transform: translateY(-100%);
    /* display: none; */
}
input[type="checkbox"]:checked {
    display: none;
}
input[type="checkbox"]:checked ~ label i{
    display: none;
}