*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myfont;
}
@font-face {
    font-family: myfont;
    src: url(../Vazirmatn-Light.woff2);
}
header div{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: darkblue;
    color: white;
    text-align: center;
    transition: transform 1s ease-in-out;
}
header{
    position: relative;
    
    }
input[type="checkbox"]{
    display: none;
}
label i{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
}
input[type="checkbox"]:checked ~ div{
    transform: translateY(-100%);
    /* display: none; */
}
input[type="checkbox"]:checked {
    display: none;
}
input[type="checkbox"]:checked ~ label i{
    display: none;
}

body{
    direction: rtl;
}
nav{
    display: flex;
    gap: 15px;
    transition: transform 1s ease;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

input[type="checkbox"]:checked ~ nav{
    transform: translateY(-100%);
}

nav i{
    font-size: 32px;
    opacity: 0;
}
nav span{
    opacity: 0;
}

@media screen and (max-width:600px){
    nav{
        justify-content: space-between;
    }
    nav ul{
        display: none;
    }

    nav i{
        opacity: 1;
        vertical-align: -7px;
        padding: 10px;
    }
    nav span{
        opacity: 1;
        color: rgb(118, 204, 232);
    }

    header{
        height: 50px;
        border-bottom: 1px solid rgb(174, 171, 171);
    }
    
}
